$main-color: #1c94d2;
$main-color2: #ececec;

* {
  margin: 0;
  padding: 0;
}
a {
  color: $main-color;
}
h1,
h2,
h3 {
  font-weight: normal;
}
body {
  background: $main-color2;
}
html,
body {
  height: 100%;
  font-family: 'AvenirNext', 'PingHei', 'Helvetica Neue', 'Helvetica', 'Arial', 'Verdana',
    'sans-serif';
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  letter-spacing: 0.4px;
}
// margin and padding.
// example: .m-b-5 and .p-b-5
$dimensions: ('m': 'margin','p': 'padding');
$directions: ('t': 'top', 'b': 'bottom', 'l': 'left', 'r': 'right');

// Iterating over dimensions
@each $dim in $dimensions {
  // $dim is ('m' 'margin')
  // Iterating over directions
  @each $dir in $directions {
    // $dir is ('b' 'bottom')
    @for $i from 1 through 6 {
      $size: $i * 5;
      .#{nth($dim, 1)}-#{nth($dir, 1)}-#{$size} {
        #{nth($dim, 2)}-#{nth($dir, 2)}: #{$size}px;
      }
    }
  }
}
.m-b-80 {
  margin-bottom: 80px;
}

.font-thin {
  font-weight: 100;
}
.font--color-main {
  color: $main-color;
}
.text-right {
  text-align: right;
}
.font--size-small {
  font-size: 12px;
}

.cv {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  transform: translateY(0);
  background: #fff;
  height: 100%;
  overflow: hidden;
  .info {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 210px;
    border-right: 1px solid #eee;
    padding: 20px 20px 80px;
    box-sizing: border-box;
    overflow: scroll;
    font-weight: 300;
  }
  .content {
    padding: 40px 23px 40px 233px;
    height: 100%;
    overflow-y: scroll;
    font-weight: 300;
  }
}

.info--line {
  border-left: 1px solid #fff;
}
.info__title {
  position: relative;
  padding: 10px 10px 10px 0;
  font-size: 16px;
  display: inline-block;
  &:before {
    content: '';
    width: 11px;
    height: 11px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: -21px;
    top: 15px;
  }
  &:after {
    content: '';
    width: 300px;
    border-top: 2px solid #fff;
    position: absolute;
    right: -300px;
    top: 21px;
  }
}
.info__basic {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 20px;
  .photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: 0 auto;
  }
  .name {
    font-size: 24px;
  }
  .intro {
    font-size: 14px;
    color: $main-color2;
  }
}
.info__connect a {
  display: block;
  color: $main-color;
}

.progress {
  width: 95%;
  height: 5px;
  border-radius: 5px;
  background: $main-color;
  opacity: 0.8;
  position: relative;
  margin: 5px 0 10px;
  .progress__dragbar {
    display: inline-block;
    width: 8px;
    height: 9px;
    border: 3px solid $main-color;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    margin-left: -13px;
  }
}
.table {
  display: table;
  .row {
    display: table-row;
  }
  .cell {
    display: table-cell;
  }
  .cell:first-child {
    white-space: nowrap;
    width: 70px;
  }
}

.content__title {
  border-bottom: 1px solid #eee;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 10px;
  color: $main-color;
}
.content__title2 {
  .cell {
    padding-bottom: 15px;
  }
}
ul {
  margin: 0 20px 10px;
}
.content__skills .skills__item {
  line-height: 2;
  font-size: 12px;
}
