@media print {
  .no-print,
  .no-print * {
    display: none!important;
  }
  .qrcode {
    width: 100px;
    height: 100px;
    margin: 80px 0 0;
  }
  .cv {
    height: auto;
    overflow: scroll;
  }
  .cv .content {
    padding-left: 33px;
  }
}
