$main-color: #1c94d2;

@media(max-width: 600px) {
  .cv {
    max-width: 100%;
    .info {
      width: 100%;
      padding: 60px 20px;
      overflow-x: hidden;
      overflow-y: scroll;
      left: -100%;
      transition: left 300ms;
    }
    .content {
      position: relative;
      left: 0;
      padding: 40px 20px;
      transition: left 300ms;
    }
    .menu {
      outline: none;
      width: 50px;
      height: 50px;
      background: #1c94d2;
      color: #fff;
      text-align: center;
      line-height: 50px;
      position: absolute;
      right: 20px;
      bottom: 20px;
      border-radius: 50%;
      box-shadow: 0 0 20px #ccc;
      z-index: 2;
      transition: all 300ms;
    }
  }
  .expended {
    .info {
      left: 0;
    }
    .content {
      left: 100%;
    }
    .menu {
      content: '←';
      background: #fff;
      color: $main-color;
    }
  }
  .table,
  .table .row,
  .table .row .cell {
    display: block;
    text-align: left;
  }
  .table {
    padding-left: 10px;
  }
}

@media screen {
  .no-screen,
  .no-screen * {
    display: none!important;
  }
  .git {
    border-top: 5px solid $main-color;
    position: relative;
    .git__logo {
      position: absolute;
      z-index: 3;
      width: 30px;
      right: 10px;
      top: 10px;
      height: 30px;
      display: inline-block;
      background: url(http://p18uhw04f.bkt.clouddn.com/git/GitHub-Mark-Light-64px.png) no-repeat center;
      background-size: 25px;
      transform: rotate(45deg);
    }
    &:after {
      z-index: 2;
      content: '';
      cursor: pointer;
      display: inline-block;
      position: absolute;
      right: 0;
      border: 35px solid transparent;
      border-top-color: $main-color;
      border-right-color: $main-color;
    }
  }
}
